<ion-view title="">
    <!-- LOADING -->
    <flex-loading ng-if="!cotizar" title="Consultar" legend="Preparando la consulta...">
    </flex-loading>
    <!--CONTENT -->
    <div ng-if="cotizar">
        <ion-content>
            <div class="module-title">
                <h1>Base Clientes</h1>
                <h2>Consulta por Cliente</h2>
            </div>
            <form name="consultaForm" novalidate>
                <div class="list">
                    <label class="item item-input item-floating-label"> <span class="input-label">RUT</span>
                        <input type="text" placeholder="RUT"> </label>
                    <label class="item item-input item-floating-label"> <span class="input-label">Nombre / Razón Social</span>
                        <input type="text" placeholder="Nombre / Razón Social"> </label>
                </div>
            </form>
        </ion-content>
        <!-- FOOTER -->
        <ion-footer-bar>
            <button class="button button-calm" ng-click="navigateTo()">
                Aceptar
            </button>
        </ion-footer-bar>
    </div>
</ion-view>
