<ion-view title="---">
    <!-- LOADING -->
    <!--
    <flex-loading ng-if="!cotizar" title="Cotizaciones" legend="Preparando el formulario...">
    </flex-loading>
    <!--CONTENT -
    <div ng-if="cotizar">
        <ion-content>
            <h5 align="center">IDENTIFICADOR</h5>
            <label class="item item-input">
              <input type="text" placeholder="Ingrese rut">
            </label>
            <h5 align="center">IDENTIFICADOR</h5>
        </ion-content>
        <!-- FOOTER -
        <ion-footer-bar>
            <button class="button button-calm button-block">
              Aceptar
            </button>
        </ion-footer-bar>
    </div>
    -->
</ion-view>
