<ion-view title="Ejecutivos" class="constar">
    <!-- LOADING -->
    <flex-loading ng-if="!ejecutivos" title="Ejecutivos" legend="Cargando Listado...">
    </flex-loading>
    <!--CONTENT -->
    <div ng-if="ejecutivos">
        <ion-content>
            <div ng-repeat="ejecutivo in ejecutivos">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile-bubble">
                            <div class="marker">
                                <div class="halo">
                                    <div>
                                        <img ng-src="{{ejecutivo.image}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label>
                            <span>Nombre</span>
                            <div class="content">
                                {{ejecutivo.name}}
                            </div>
                        </label>
                        <label>
                            <span>Cargo</span>
                            <div class="content">
                                {{ejecutivo.cargo}}
                            </div>
                        </label>
                        <label>
                            <span>telefono</span>
                            <div class="content">
                                {{ejecutivo.telefono}}
                            </div>
                        </label>
                        <label>
                            <span>E-mail>
                        <div class="content">
                            {{ejecutivo.email}}
                        </div>
                    </label>
                </div>
            </div>
               
           </div>
        </ion-content>
    </div>
</ion-view>
